@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;

}

.link-text {
    @include font-setting (400, 15px, 24px);
}

.regular-text {
    @include font-setting (400, 16px, 24px);
}

.caps-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.chapter-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.container {
    max-width: 1168px + ($cont-spase-lg * 2);
    padding: 100px $cont-spase-lg 110px $cont-spase-lg;
    @extend %cont-center;
}
